/*===== GENERAL VARIABLES CSS =====*/
:root{
    --header-height: 3rem;

    /*========== Colors ==========*/
    --first-color: #fefefe;
    --first-color-alt: #9C8194;
    --title-color: #9C8194;
    --text-color: black;
    --text-color-light: rgb(34, 30, 30);
    --body-color: #FBFEFD;
    --container-color: #FFFFFF;

    /*========== Font and typography ==========*/
    --body-font: helvetica, sans-serif;

    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
     --font-medium: 200;
    --font-semi-bold: 600;

/*========== Margin ==========*/
    --mb-1: 5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;

/*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100; 
}


/*BASIC Css */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

html
{
     scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #F3EFE9;
}


.wrapper {
    display:flex;
    flex-flow: row wrap;
    text-align:center;
}

.wrapper>*{
    padding:10px;
    margin:10px;
    flex: 1 100%;
}

.section {
    padding: 10rem 18rem 10rem 30rem;
    width: 100%;
    height: 100vh;
}

.clearfix::after {
    content:"";
    clear:both;
    display: table;
}

.section-heading {
    position:relative;
}

.section-heading span:first-child::before 
.section-heading span:first-child::after {
    content:"";
    display: block;
    width: 15rem;
    height: 0rem;
    background-color: #BDA6A2;
    position: absolute;
    top:0;
}

.section-heading span:first-child::before {
    left:0;
}

.section-heading span:first-child::after {
    right:0;
}

.section-heading h2 {
    font-weight:600;
    font-size: 2.5rem;
    line-height: 1.1;
    background-color: #BDA6A2;
    position:relative;
    text-align: center;
    padding-top: 3.2rem;
    margin-bottom:8rem;
    
}

/*Header  Section Css */ 


/*humberger Css */ 

.li {
    list-style: none;
}
.hamburger input[type="checkbox"]{
    width: 40px;
    height: 32px;
    position: absolute;
    top: 5px;
    left: 6px;
    display: block;
    z-index: 3;
    opacity: 0;
}

.hamburgerlines{
    width: 40px;
    height: 32px;
    position: absolute;
    top: 8px;
    left: 7px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburgerlines .lines{
    display: block;
    height: 4px;
    width: 100%;
    background: #232323;
    border-radius: 10px;
}

.hamburger{
    position:relative;
    right:50%;
    left: 0;
}

.navbar li{
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.hamburger input[type="checkbox"]:checked ~ .navbar{
    display: block;
    transform: translate(0%);
    
}

.hamburger input[type="checkbox"]:checked ~ .hamburgerlines .lines{
    background: #9C8194;
}

.hamburgerlines .line1{
   transform-origin: 0% 0%;
   transition: transform 0.3s ease-in-out;    
}

.hamburgerlines .line3{ 
   transform-origin: 0% 100%;
   transition: transform 0.3s ease-in-out;  
}

.hamburger input[type="checkbox"]:checked ~ .hamburgerlines .line1{
    transform: rotate(45deg);
}

.hamburger input[type="checkbox"]:checked ~ .hamburgerlines .line2{
    display: none;
}


.hamburger input[type="checkbox"]:checked ~ .hamburgerlines .line3{
    transform: rotate(-45deg);
}


 .navbar a {
     text-decoration: none;
     display:block;
     color: black;
     padding: 2rem 2.5rem;
     font-family: Arial, Helvetica, sans-serif;
     background-size:100%;
     transition: all 0.4s;
 }

 .navbar span {
     display: block;
     padding: 1rem 0;
     font-size: 1.4rem;
 }

 .navbar a:hover {
     background-position: 100%;
     background-color: var(--first-color-alt);
     color: white;
 }

 .navbar {
    display: block;
    background-color: #F3EFE9;
    position: fixed;
    z-index: 1;
    text-align: center;
    padding-top: 90px;
    transform: translate(-110%);
    transition: transform 0.5s ease-in-out;
    padding-left: 5px;
    margin-top: -10px;
    padding-bottom: 1rem;
    max-width: 300px;
    width: 100%;
    height: 100vh;
    overflow: scroll;
 }

.logo-style {
    display: block;
    position: relative; 
    margin:10px 15px 15px 10px; 
    margin-top: 20px; 
    float:left;
    width:189px;
    height:50px;
    
}

/*Navigation Section Css */ 

#nav-pc {
    list-style: none;
    display: flex; 
    margin: 0 auto;
    justify-content: center;
           
}

#nav-pc ul {
    display: flex;   
    width:100%; 
    list-style-type: none;
    margin: 0;
    padding: 0;     
}


#nav-pc a {
    font-size: 1.5rem;
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: black;
    text-decoration: none;
    justify-content: space-between;
    margin: 0;
    padding: 2rem;
    float: left;
}

#nav-pc a:hover {
    background-position: 100%;
    background-color: var(--first-color-alt);
    color: white;
}

#nav-toggle {
    display:none;
}

/*Footer Css */

.footer {

    width: 100%;
    background-color:#F3EFE9;
    text-align: center;
    display: block;
    color: black;
    font-family: -apple-system, 'Helvetica Neue', sans-serif;
    font-size: 1.3rem;

}

hr {
    margin-bottom: 2rem;
    background-color: #9C8194;
    
}
.table {
    width:100%;
    border-spacing:px; 
    text-align: center;
}

.footer_h2 {
    font-size: 20px; 
    font-family: Helvetica, sans-serif;  
    font-weight:lighter; 
    text-align: center;
}

.button {
    padding: 5px 5px;
    font-size: 10px; 
    text-decoration: none;  
    margin: 5px 5px;
    text-align: center;
    background-color:#F3EFE9;
}
.button a {
    text-decoration: none;  
}
.button:hover {
    background-color: #9C8194;
    cursor: pointer;
}

.btn {
    margin-left: 50px;
    border-color: #BDA6A2;
    border-style: solid;
    background-color: #F3EFE9;
}

p {
    line-height: 20px;
    margin-bottom: 20px;
}

.contact-h2 {
    font-family: Helvetica, sans-serif;
    font-size: 3rem;
    color: #9C8194;
}

/*Main page Css */

.home {
    background-color: #F3EFE9;
}

.home-content {
    height:90vh;
    width: 100%;
    padding-top: 15rem;
    text-align: center;
}

.home-content-text h1 {
    line-height:1.5;
    animation-name: MoveinLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

}


.mainh1 {
    font-family: Helvetica, sans-serif, serif; 
    font-size: 3rem; 
    font-weight: 700; 
    line-height: 2; 
    text-align: center;
    color:black;
}
.mainh2 {
    font-family: Helvetica, sans-serif; 
    font-size: 1.5rem; 
    align-content:center ; 
    font-weight:200; 
    line-height: 1.4; 
    color:#9C8194;
}
.mainh3 {
    font-family: Didot,serif; 
    font-size: 1rem; 
    font-style: italic; 
    line-height: 2.4; 
    bottom: 0% ; 
    color:black; 
    opacity:60%;
}

.home-content span:first-child ::before,
.home-content span::after {
    content: "\2605";
    text-align: center;
    display: inline-block;
    padding:0 1.4rem;
}

.scroll-down {
    font-size: 1rem;
    font-size: 0.5rem;
    letter-spacing: 0.5rem;
    margin-top: 15rem;
}


/*Aboutme section Css */

.about-h1 {
    font-family:Helvetica, sans-serif; 
    font-size: 3rem; 
    font-weight:200; 
    line-height: 1.1; 
    padding-top: 3.2rem;
    margin-bottom: 3rem;
    position: relative;  
    text-align: center;  
    color:#9C8194;
}

.about .about-box {
    width: 100%;
}

.about .profile {
    padding-right: 1rem;
    text-align: justify;
}

.about-box  h2 {
    font-size: 2rem;
    padding-bottom:1.5rem;
}

.profile-h2 {
    margin-left:1rem;
}

.about .about-box p {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.aboutp {
    font-family:Helvetica, sans-serif; 
    font-weight:200; 
    line-height: 1.1; 
    text-align: justify;
    position: relative; 
    margin-left: 1rem;
    color:black;
}

.about .profile p span {
    font-weight: bold;
}

.skills-h2 {
    margin-left: 1rem;
}

.skill-container {
    width: 100%;
    background-color:  var(--first-color-alt);
}

.about .skills {
    text-align: right;
    padding-top:1rem;
    padding-bottom: .7rem;
    color:var(--first-color);
    margin-bottom: 0.8rem;
    background-color:var(--first-color-alt);
    margin-left: 1rem;
}

.skills-p {
    margin-left: 1rem;
}

.html {
    width: 90%;
}

.css {
    width:80%;
}

.js {
    width: 70%;
}

.react {
    width: 60%;
}

.about_btn{
    text-align: center;
    font-weight: bold;
}
.info-1 {
    font-family: Helvetica, sans-serif;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top:3rem;
}

.about_btn .btn1 {
    width: 50%;
    text-align: center;
    display: inline-block;
    transition: all .3s ease-out;
    line-height: 5.6rem;
    margin: 3rem 0;
    text-decoration: none;    
    border-style: solid;
    background-color: #9C8194;
    color:black;
    font-size: 1.4rem;
    height: 5rem;
}

.about_btn .btn1:hover {
    background-color: #776571;
    cursor: pointer;
}


/*Work section Css */

.work {
    position: relative;
    height:100%;
}

.work-container::after {
  content: "";
  display: table;
  clear:both;
}

.work .box-wrapper {
    line-height: 0;
    column-rule: 2;
}

.box-wrapper {
    width: 100%;
    left:0;
    right: 0;
}

.scrolling-wrapper-flexbox {
    flex-direction: row;
    display: flex;
    padding-top: 2rem;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;
    margin:5px;

  }

#box1 {
    flex-grow: 1 1 auto;
    margin-top: 40px;
    flex:1 1 auto;

}

#box2 {
    flex-grow: 1 1 auto;
    margin-top: 40px;
    flex: 1 1 auto;
    
}

#box3 {
    flex-grow: 1 1 auto;
    margin-top: 40px;
    flex: 1 1 auto;
}

.item {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem 2.5rem;
    max-width: 100%;
    text-align: center;
}

.image-text {
    font-size: 1.5rem;
    font-family: Helvetica, sans-serif;
    font-weight: 200;
    padding:5px 10px 5px 10px; 
    margin-bottom: 1rem;
    margin-top:1rem;
    text-align: center;
}

.img {
    width:100%;
    height:auto;
}

.work-h1 {
    font-family:Helvetica, sans-serif; 
    font-size: 3rem; 
    font-weight:200; 
    line-height: 1.1; 
    margin-bottom: 1rem;
    position: relative;  
    text-align: center;  
    color:#9C8194;
}

.btn2 {
    border-color: #9C8194;
    border-style: solid;
    background-color: none;
    font-size: 18px;
    width:150px;
    height:59px;
    background-color: white; 
}

.btn2:hover {
    background-color: #D6C2C2; 
    cursor: pointer;
}

.btn2-container {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    margin-bottom:3rem;
    margin-left: 50px;
}


/*Aboutme page Css */

* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.section {
    width: 100%;
    min-height: 100vh;
    padding:0 0 0 0;
}

.container {
    width: 80%;
    display: block;
    margin:auto;
    padding-top: 100px;
}

.content-section {
    float:left;
    width: 55%;
}

.image-section {
    float:right;
    width: 40%;
    margin-top: 50px;
}

.image-section img {
   width: 50%;
   text-align: center;
   height: auto;
   border-radius: 5%;   
}

.aboutme_h1 {
    text-align: center;
    font-size: 3rem;
    font-family:Helvetica, sans-serif; 
    color:#9C8194;
    margin-bottom: 2rem;
}

.aboutme_nameh1 {
    font-size:3rem;
    text-align: center;
    font-weight: 400;
    margin-bottom: 2rem;
}

.aboutme_nameh2 {
    font-family: Didot,serif; 
    text-align: center;
    font-size: 1.5rem; 
    font-style: italic; 
    line-height: 2.4; 
    color:black; 
    opacity:60%;
    margin-bottom: 2rem;
}

.aboutme_p {
   font-family:Helvetica, sans-serif; 
   font-size: 1.5rem; 
   line-height: 1.8; 
   font-weight: 200;
   text-align: justify;
   margin-top: 20px;
}

.content .content-section {
    margin-top: 10px;
}

.info {
    font-family:Helvetica, sans-serif; 
    color: black;
    font-weight: bold;
    font-size: 1.5rem;  
    position: relative; 
    margin-bottom: 10px;
    padding: 0 0; 
}

.btn4 {
    display: inline-block;
    border-style: solid;
    text-align: center;
    font-size: 1.125rem;
    cursor: pointer;
    height:59px; 
    width:120px;
    background-color: #9C8194;
    border-radius: 5px;
    margin-top: 1.25rem; 
    margin-bottom:1.25rem;
    padding: 5px 10px;
}

.btn4:hover {
  background-color: #776571;
  cursor: pointer;
}


/*Portfolio Page Css */

.container {
    padding:2rem;
}

.portfolio {
    background:none;
    color:black;
    position: relative;
    bottom: 10px;
}

.portfolio_container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.portfolio_container h1 {
    font-family:Helvetica, sans-serif; 
    font-size: 3rem;  
    line-height: 30px; 
    text-align: center;
    justify-content: center;
    bottom: 100px;
    color:#9C8194;
    padding: 70px 10px;
}

.portfolio_container h2 {
    font-family:Helvetica, sans-serif; 
    font-weight: normal;
    font-size: 24px;  
    margin-left:20px; 
    color: #9C8194;
}

.portfolio_main {
    padding: 4px;
    margin-bottom: 30px;
}

.portfolio_img {
    height: 100%;
    width: 100%;
}

.portfolio_right {
    padding: 3rem 3rem 3rem 1rem;
}

.portfolio_right h2 {
    font-size: 24px;
    margin-bottom:40px;
}

.portfolio_right p {
    font-family:'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: 200;
    color: black;
    text-align: justify;
    margin-bottom:50px;
    line-height: 1.5;
}

.btn3 {
    border-color: #9C8194;
    border-style: solid;
    background-color: none;
    font-size: 18px;
    margin-left: 20px;
    width:150px;
    height:59px;
    background-color: white;
  }

  .btn3:hover {
    background-color: #9C8194;
    cursor: pointer;
  }

.portfolio_projects {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 24px 32px;
}

.portfolio_projects img {
    padding: 10px 8px;
    width: 100%;
    height: 100%;
    margin-top: 50px;
}


/*Contact page Css */

.contact {
    padding-top: 4rem;
    align-items: center;
}

.contact .content {
    text-align: center;
}

.content-contact {
    font-family:Helvetica, sans-serif; 
    font-size: 1.5rem ; 
    align-content:center; 
    line-height: 30px;
    color:#9C8194;   
    position: relative; 
}

.container1 {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:2rem;
    margin-bottom:2rem;

}

.contactInfo {
    font-family:Helvetica, sans-serif; 
    font-size: 1rem ; 
    margin:20px;
}

.container1 .contactInfo {
    display: flex;
    flex-direction: column;
 }

 .container1 .contactInfo .box {
    position:relative;
    display: flex;
 }

  .container1 .contactInfo .box .text {

    display:flex;
    margin-left: 10px;
    font-size:1.5rem;
    flex-direction: column;
  }

  .container1 .contactInfo .box .h3 {
    font-weight:200;
  }

.contacth1 {

    font-size: 2rem;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

.contacth3 {

    font-size: 1.5rem;
    font-family: Helvetica, sans-serif;
    color:black;
    text-align: center;
}

.contactForm {
    box-sizing: border-box;
    margin: 15px;
}

 .contactForm h2 {
    font-size: 2rem;
    color: #9C8194;
    font-weight: 300;
}

.contactForm .inputBox {
    margin-top:10px;
}

.contactForm .inputBox input {
   width:100%;
   font-size: 1rem;
}

.inputBox {
font-size:1.5rem;
}

input[type=text]

 {
    padding:10px;
    margin-top: 10px;
    font-size: 2rem;
}

.input_email  {
    padding:10px; 
    margin-top: 10px;
    margin: 10px 0;
    width: 50%;
      
}

.textarea {

    padding:5px; 
    margin: 10px 0;
    border: none;
    width: 100%;
}

input {
    border: none;
}


.required label:after {
 
content:"*"; 
color: #9C8194;    
}

input:invalid {
  border: 2px #9C8194;
}

.contactForm .inputBox input [type="submit"] {
    
    cursor:pointer;
    padding:10px;
    font-size: 2rem;

}

.btn5 {
  border-color: #9C8194;
  border-style: solid;
  background-color: none;
  font-size: 3rem;
  font-weight: lighter;
  font-family: Helvetica, sans-serif;
  width:250px;
  height:50px;
  background-color: white;
  text-align: center;
  color: black;
  margin-top: 15px;
}
.btn5:hover {
    background-color: #9C8194;
    cursor:pointer;
}


/*========== MEDIA QUERIES ==========*/

/*========== Index media queries  ==========*/


@media screen and (max-width: 480px) {

    html {
    font-size: 100%;
    }

    body {
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    }

    #nav-pc {
    display: none;
    }

    #nav-toggle {
    display:block;
    text-align: right;
    padding: 1rem 1rem;
    font-size: 1rem;
    }
    

    .logo-style {
    display:block;
    float: initial;
    width:189vh;
    height:50vh;
    }

    .home-content {
    padding-top: 25rem;
    }

    .home-content-text h1 {
    font-size: 2rem;
    line-height: 1;
    }

    .mainh3 {
    display: none;
    }


    .scroll-down {
    display: none;

    }

    .section{
    padding:5rem 4rem 5rem 10rem;
    }
    
    .about {
    height: 100vh;
    }
    
    .about .about-box {
    width: 100%;
    }

    .about-box
    .about .about-box:nth-child(2) {
    margin-top: 0.5rem;
    }

    .about_btn .btn1 {
    margin:0 0 0 0;
    }

    .about-box h2 {
    text-align: center;
    padding-bottom: 2rem;
    }

    .about .about-box p{
    font-size: 2rem;
    }
    
    .work {
    margin-top: 3rem;
    }

    .work-container::after {
    padding:1rem;
    margin-bottom:1rem;
    }

    .work-h1 {
    font-family:Helvetica, sans-serif; 
    font-size: 3rem; 
    font-weight:200; 
    line-height: 1.1;      
    text-align: center;  
    color:#9C8194;
    }

    .footer {
    font-size:1.7;
    }

}

@media screen and (max-width:768px) {

    html {
    font-size: 100%;
    }

    body {
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    }

    #nav-pc {
    display: none;
    }

    #nav-toggle {
    display:flex;
    position: absolute;
    padding: 1rem 1rem;
    font-size: 1rem;
    }

    .logo-style {
    float: right;
    display: flex;
    justify-items: center;
    width:189px;
    height:50px;
    }

    .home-content {
    padding-top: 10rem;
    }

    .home-content-text h1 {
    font-size: 3rem;
    line-height: 1.5;
    margin: 2rem;
    }

    .home-content .mainh2{
    font-size:1.5rem;
    margin:1rem;
    }

    .scroll-down {
    display: none;
    }

    .section{
    padding: 7rem 8rem 10rem 7rem;
    }

    .about .about-box {
    width: 100%;
    }
    
    .about {
    height:auto;
    }

    .about .about-box:nth-child(2) {
    margin-top: 0.5rem;
    }

    .about_btn .btn1 {
    margin:10px 0 0 0;
    margin-bottom: 1rem;
    }

    .about .about-box h2 {
    font-size: 1.5rem;
    padding-bottom:0.5rem;
    }


    .about .about-box p{
    font-size: 1.5rem;
    }

    .about-box .profile 
    {
        margin: 0 0 0 0;
    }
    
    .info-1 {
    font-size: 1.5rem;
    }

    .work {
    margin-top: 3rem;
    }

    .work-h1 {
    text-align: center;
    align-items: center;
    font-size: 2rem;
    }

    img {
    width: 100%;
    height: auto;
    }

    *, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    }


}

@media screen and (max-width:1024px) {
 
    *, *::before, *::after {
        box-sizing: border-box;
        padding: 0;
    }

}

/*========== About page media queries  ==========*/

@media screen and (max-width: 480px) {

    #nav-pc {
    display: none;
    }

    #nav-toggle {
    display:block;
    text-align: right;
    padding: 1rem 1rem;
    font-size: 1rem;
    }
    
    .logo-style {
       position: relative;
       width:189vh;
       height:50vh;
    }

    html {
    font-size: 100%;
    }

    body {
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    }

    .section {
    height:310;
    }

    .content-section {
    padding-top: auto;
    margin-top: 7rem;
    width: 100%;
    }

    .aboutme_h1 {
    margin-top: 3rem;
    }

    
    .download-resume {
    margin-top: 2rem;
    font-size: 1.5rem;
    }


    .image-section img {
    margin-top: 4rem;
    display:none;
    width: 100%;
    }

    .btn4 {
    height:100%;
    }

    
}

@media screen and (max-width: 768px) {

    html {
    font-size: 100%;
    }

    body {
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    }
    

    .section {
    padding:0;
    height: auto;
    }

    .container {
    width: 80%;
    display: block;
    margin:0;
    }

    .content-section {
    margin:auto;
    float: none;
    width: 100%;
    }
    
    .image-section {
    width: 50%;
    display:none;
    margin:auto;
    text-align: center;  
    }

    .aboutme_h1 {
    text-align: center;
    font-size: 2rem;
    }

    .download-resume {
    text-align: center;
    }

    .btn4 {
    height:50px;
    }

    .content-section .aboume_p {
    font-size: 2rem;
    }

}


/*========== Portfolio page media queries  ==========*/

@media screen and (max-width:480px) {

    html {
    font-size: 100%;
    }

    body {
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    }
    
    .container{
    display: flex;
    flex-direction: column;
    }

    .main .section .footer {
    flex-direction: column;
    } 

    img {
    width: 100%;
    height: auto;
    }

   .portfolio { 
    padding: 5px;
    }

   .portfolio_container h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
   }

    .portfolio_projects {
    display:none;
    }

    .portfolio_right {
    padding:0rem 0rem 0 0rem;
    margin-top: 2rem;
    }
}

@media screen and (max-width:768px) {

    html {
    font-size: 100%;
    }

    body {
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    }

    .nav-pc{
    padding: 1rem 1rem;
    font-size: 1rem;
    }
    
    .container {
    flex-direction: column;
    width: 100%
    }

    #nav-pc a {
    font-size: 1.5rem;
    }

    .logo-style {
    position: var(--z-fixed);
    width:189px;
    height:50px;
    }

    .portfolio_projects {
    display: none;
    }

    img {
    margin-top: 10px;
    }

    .portfolio_right {
    padding:0rem 0rem 0 0rem;
    margin-top: 2rem;
    }
}

@media screen and (max-width:1024px) {

    img {
    width: 100%;
    height: auto;
    }
    .portfolio {
        padding: 10px;
    }
    .portfolio_container h1 {
       font-size: 50px;
       text-align: center;
    }
    .portfolio_main {
        grid-column: 2fr;
    }
    .portfolio_container {
        padding-left: 0px;
    }

    .portfolio_main {
    display: block;
    }

}

@media screen and (max-width:1280px) {
    .portfolio_projects {
    flex-direction: column;
     }  
}

/*========== Contact Page media queries  ==========*/

@media screen and (max-width:480px) {

    html {
    font-size: 100%;
    }

    body {
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    }
    
    .contact {
    align-items: center;
    }

    .content-contact {
    font-size: 1.5rem;
    }

    .contactInfo {
    font-size:1rem;
    }

    .contactForm  h2 {
    align-items: center;
    }

    .container1 {
    flex-direction: column;
    }

    .contactForm .contactInfo {
        width: 100%;
    }

    .contactInfo .box .text {
    font-size:1rem;
    }

    .contactForm h2 {
    font-size: 2rem;
    color: #9C8194;
    font-weight: 400;
    text-align: center;
    }
    
    .inputBox {
    font-size: 1rem;
    }

    .contactInfo p {
    font-size: 1rem;
    }

    ::-webkit-input-placeholder { 
    font-size: 0.5rem;
    }

    .btn5 {
    font-size: 1.5rem;
    margin: 0;
    }

}

@media screen  and (max-width:768px) {

    html {
    font-size: 100%;
    }

    body {
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    }

    
    .container1 {
    align-items: center;
    flex-direction: column;
    }

    .container1 .contactInfo .box .text {
    flex-direction: column;
    }

    .contact {
    font-size: 1rem;
    margin-bottom:2rem;
    }

    .box {
    font-size: 1rem;
    }

    .icon {
        font-size: 50px;
    }

    .contactInfo .text {
    font-size: 1rem;
    }

    .container1 {
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    }   
    
    .contactForm  h2 {
    align-items: center;
    font-size: 1.5rem;
    }


    .contactInfo {
    font-size: 1.5rem;
    }

    .container1 .contactForm{ 
    padding-top: 2rem;
    font-size: 1rem;
    }

    .inputBox {
    font-size:1rem;
    }

    .container1 .contactInfo .box .text {
    font-size:1rem;
    }

    .btn5 {
        font-size:1rem;
    }
     /* Chrome/Opera/Safari */
    ::-webkit-input-placeholder { 
    font-size: 1rem; }
}


@media screen and (max-width:1024px) {
 
    *, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    }

    .body {
        font-size: 50%;
    }

}

@keyframes MoveinLeft {
    0% {
        opacity:0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }
    
    100% {
        transform: translateX(0);
    }
}
